<a href="https://colab.research.google.com/github/GaPau/bbit-learning-labs/blob/main/%5BSpring_24_DS%5D_Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CS 2302 Data Structures - Introduction to Python**
**Author:** <br>
[Olac Fuentes](http://www.cs.utep.edu/ofuentes/)<br>
Computer Science Department<br>
University of Texas at El Paso<br>
**Last modified:** 1/17/2024<br>

## **Introduction**

**Why Python?**

<ul>
  <li>Easy to learn </li>
  <li>Readable</li>
  <li>Interpreted – makes debugging easier</li>
 <li>High level – you can do more with less code </li>
  <li>Lots of available libraries</li>
  <li>Dominant language in several research areas – Artificial intelligence, Data Science</li>
</ul>

**Some disadvantages**

<ul>
  <li>Speed – interpreted code is usually slower than compiled code </li>
  <li>Weak support in some areas – mobile apps, databases</li>
  <li>Dynamic typing may make debugging harder</li>
</ul>

**Python and Java - Key Difference**

<ul>
  <li>Python is dynamically-typed - it performs type checking at runtime.  </li>
    <li>Java is statically-typed - it performs type checking at compile time.  </li>
  </ul>

**Python and Java - Key Difference**

<ul>
  <li> Python is interpreted - a program (called the interpeter) executes instructions as they are provided. Declared functions and variables (and their values) are available after an interpreter call.  </li>
    <li>Java is compiled - a complete program is translated to executable code, then it is run. After execution, variables are erased.
  </ul>

### **Python and CS 2302**

Python can be used through a browser, without installing any software on your computer or by installing one of many Integrated Development Environments (IDEs).

For this class, we will run Phython using both modalities:

Web-based: Google Colaboratory - run directly at https://colab.research.google.com/notebooks/intro.ipynb?utm_source=scs-index

IDE: Spyder - Download from https://www.spyder-ide.org/

## **Python Syntax for Java Programmers**

### **Instructions**

We must write an instruction per line

End-of-line works as instruction separator, just like ';' in Java

Indentation matters! (more on that later)

### **Input and output**

*print* behaves like system.out.println in Java

Multiple constants or variables can be printed with a single statement

In [ ]:
print('Data','Structures')
print(1,2,3,4,5,6,7,8,9,10)
print('CS',2302)

Data Structures
1 2 3 4 5 6 7 8 9 10
CS 2302

In [ ]:
a = 0
b = 1
print(a,b)
print('a is equal to',a,'and b is equal to',b)

0 1
a is equal to 0 and b is equal to 1

In [ ]:
print(b)

1

To print without moving to the next line (like system.out.print() in Java), we specify the parameter 'end' in the print statement.

In [ ]:
print('CS',end=' ')
print(2302)

CS 2302

In [ ]:
print('CS',end='')
print(2302)

CS2302

In [ ]:
print('CS')
print(2302)

CS
2302

Data input from the keyboard is much simpler than in Java. Notice that the function *input* always returns a string. You must use casting for other data types.

In [ ]:
name = input("Enter name\n")
age = int(input("Enter age\n"))
print("Name is", name ," and age is", age)

Enter name
asasa
Enter age
sddsfdsf

ValueError: invalid literal for int() with base 10: 'sddsfdsf'

Comments are indicated with *#*

In [ ]:
# This is a comment
print('CS')
# This is another comment
print(2302) # yet another comment

CS
2302

### **Variables**

Variables don't need to be declared.

Type is inferred at run time from value assigned.

In [ ]:
a = 2302
print(a)
b = 3.1416
print(b)
c = 'Data Structures'
print(c)

2302
3.1416
Data Structures

In [ ]:
f = b + 3
print(f)

6.1416

In [ ]:
f = c + '3'
print(f)

Data Structures3

Type can change

In [ ]:
a = 3.1416
print(a)

a = 'Data Structures'
print(a)

3.1416
Data Structures

The *type* function returns the type of a variable

In [ ]:
a = 3.1416
print(type(a))

a = 'Data Structures'
print(type(a))

a = 2302
print(type(a))

<class 'float'>
<class 'str'>
<class 'int'>

Variables names can be written together with their values using 'f' strings - this is very useful for debugging.

In [ ]:
print(f'{a = }')

a=2302

### **Conditional statements and grouping**

*if* statements are similar to Java's

grouping of statements is indicated by indentation

*:* indicates the start of a block

In [ ]:
a= 20
if a>10:
    print('a is greater than 10')
else:
    print('a is not greater than 10')

if a>100:
    print('a is greater than 100')
else:
    print('a is not greater than 100')

a is greater than 10
a is not greater than 100

In [ ]:
a = 2
if a>10:
    print(1)
    print(2)
print(3)
print(4)

3
4

In [ ]:
a = 20
if a>10:
    print(1)
    print(2)
print(3)
print(4)

1
2
3
4

*while* statements are similar to Java's

In [ ]:
a = 0
while a<10:
    a += 1
    print(a)

1
2
3
4
5
6
7
8
9
10

*for* loops use the *range* function

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

*range* receives 1, 2, or 3 parameters, corresponding to start, end (non-inclusive) and step

if 1 parameter is specified, it's assumed to be the end; start defaults to 0 and step to 1

if 2 parameters are specified, they're assumed to be start and end; step defaults to 1

In [ ]:
for i in range(5,10): # start = 5, end = 10, step = 1 (default value)
    print(i)

5
6
7
8
9

In [ ]:
for i in range(1,10,2): # start = 1, end = 10, step = 2
    print(i)

1
3
5
7
9

In [ ]:
for i in range(10): # start = 0 (default value), end = 10, step = 1 (default value)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10): # start = 0 (default value), end = 10, step = 1 (default value)
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
for i in range(10,0,-1): # start = 10, end = 0, step = -1 (default value)
    print(i)

10
9
8
7
6
5
4
3
2
1

It is possible to have no elements in the specified *range*. This does not cause an error; the body of the loop is simply not executed

In [ ]:
for i in range(20, 10):
    print(i)

In [ ]:
for i in range(10): # start = 10, end = 0, step = 1 (default value)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10,-1): # start = 0, end = 10, step = -1
  print(i)

In [ ]:
for i in range(20,5):
  print(i)

In [ ]:
for i in range(10):
  print(i)
  i = 100

0
1
2
3
4
5
6
7
8
9

Loops, of course, can be nested

In [ ]:
for i in range(3):
    for j in range(10,15):
        print(i,j)

0 10
0 11
0 12
0 13
0 14
1 10
1 11
1 12
1 13
1 14
2 10
2 11
2 12
2 13
2 14

In [ ]:
for i in range(5):
    j = i
    while j<6:
        print(i,j)
        j +=1

0 0
0 1
0 2
0 3
0 4
0 5
1 1
1 2
1 3
1 4
1 5
2 2
2 3
2 4
2 5
3 3
3 4
3 5
4 4
4 5

### **Functions**

Functions are declared using the **def** keyword

Parameter types are not specified; they are determined at run time and may be different for different calls

Return type is not specified and can be different for different parameters

In [ ]:
def plus(a,b):
    return a+b

This returns an integer

In [ ]:
a = plus(3,5)
print(a)

8

This returns a floating point number

In [ ]:
a = plus(2.3,5.78)
print(a)

8.08

This returns a string

In [ ]:
a = plus('CS','2302')
print(a)

CS2302

In [ ]:
a = plus('CS',2302)
print(a)

TypeError: can only concatenate str (not "int") to str

If a function execution ends without reaching a return statement, it returns the defult value 'None'.

In [ ]:
def f(a,b):
    c = a+b


print(f(3,5))
print(f(3.4,5.3))

None
None

In [ ]:
def f(a,b):
    c = a+b
    return

print(f(3,5))
print(f(3.4,5.3))

None
None

In [ ]:
def f(n):
  count = 0
  for i in range(n):
    count+= i
  return count

print(f(100))

0

As in Java, parameter values (1,2 in the example below) are copied to the local parameter variables (a,b in the example below) in the order they appear (a=1, b=2)

In [ ]:
def g(a,b):
    return 2*a + 3*b

print(g(1,2))

8

We can use the local parameter variable names in the calling function

In [ ]:
print(g(a=1,b=2)) # This is the same as print(g(1,2))

In [ ]:
print(g(b=1,a=2))

7

We can specify default parameter values

In the example below, a will be equal to 1 and b will be equal to 2 unless their values are specified by the calling function

In [ ]:
def h(a=1,b=2):
    return 2*a + 3*b

In [ ]:
print(h())  # a defaults to 1, b defaults to 2

8

In [ ]:
print(h(10))  # a is set to 10, b defaults to 2

26

In [ ]:
print(h(a=10))  # a is set to 10, b defaults to 2

26

In [ ]:
print(h(b=10))  # b is set to 10, a defaults to 1

32

In [ ]:
print(h(10,0))  # a is set to 10, b is set to 0

20

In [ ]:
print(h(b=10,a=0))  # b is set to 10, a is set to 0

### **Classes and objects**

Classes are similar to Java's

To define the constructor we use the function name "__init__", as shown below.

In [ ]:
class MyClass:

    def __init__(self, aa=0, bb=0):
        self.a = aa
        self.b = bb
        w = 2302

The constructor must have **self** as its first  parameter. **self** contains the address of the object to be created.

Notice that self does NOT appear as a paramater in the calling function - thus the constructor above should receive at most two parameters.

Then we can create objects of the given class as follows:

In [ ]:
m = MyClass()
n = MyClass(2,3)
p = MyClass(bb=5)

To access attributes or methods, we use the dot notation, as in Java.

Unlike in Java, attributes are public

In [ ]:
print(m.a)
print(m.b)

0
0

In [ ]:
print(n.a)
print(n.b)

2
3

In [ ]:
print(p.a)
print(p.b)

0
5

Every method declaration inside the class must also have **self** as its first parameter (but it's not included in the calling statement).

In [ ]:
class MyClass:

    def __init__(self, a=0, b=0):
        self.a = a
        self.b = b

    def print_data(self):
        self.c = 2302
        print('a =',self.a, 'b =',self.b)

    def add_a(self,c):
        self.a += c

    def add_b(self,c):
        self.b += c

In [ ]:
m = MyClass()
n = MyClass(2,3)
p = MyClass(b=5)

m.print_data()
n.print_data()

a = 0 b = 0
a = 2 b = 3

In [ ]:
print(m.c)

2302

In [ ]:
print(p.c)

AttributeError: ignored

In [ ]:
m = MyClass(10,20)
m.print_data()
m.add_a(100)
m.print_data()
m.add_b(2302)
m.print_data()

a = 10 b = 20
a = 110 b = 20
a = 110 b = 2322

In [ ]:
m = MyClass(b=5)
m.print_data()
m.add_a(100)
m.print_data()
m.add_b(2302)
m.print_data()

a = 0 b = 5
a = 100 b = 5
a = 100 b = 2307

### **Notes on Style**

Code is read much more often than it is written, therefore writing code that is easy to read is very important.

Keeping a consistent style makes your code more readable. We strongly recommend using the guidelines described in https://peps.python.org/pep-0008/.

You do not need to memorize the guide, but remember to consult it when you have doubts about appropriate style.

Regarding naming, we recommend the following:

1.   Variable names should be descriptive and meaningful and describe what the variable represents or contains.
2.   Use **snake_case** for functions, methods, parameters, and variables.  
3.   Use **PascalCase** for classes.